<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../public/css/style.css" />
    <title>Index page</title>
    <script defer src="./../public/js/script.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="date">
        How was your productivity for </br>
        <span id="today"></span>
      </div>
      <div class="produc">
        <form>
          <input type="range" id="rating" name="volume" value="0" min="0" max="100">
          <button type="submit">Rate your day</button>
        </form>
      </div>
      
    </div>
  </body>
</html>