<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../public/css/style.css" />
    <title>Index page</title>
    <script defer src="./../public/js/script.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="date">
        <p> hello <%= results[0].the_date%> </p>
        <p> the rating is <%= results[0].rating %> </p>
      </div>
      <div class="produc">
        <div class="btn"><button>25%</button></div>
        <div class="btn"><button>50%</button></div>
        <div class="btn"><button>75%</button></div>
        <div class="btn"><button>100%</button></div>
      </div>
      <form>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>